.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: #f4f6f8;
  padding: 20px;
  width: 96vw;
  height: fit-content;

}

.login-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.signupImage {
  width: 520px;
  height: auto;
}

.form-container {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-success-msg {
  color: green;
  text-align: center;
}

.login-error-msg {
  color: red;
  text-align: center;
}

.input-row {
  display: flex;
  gap: 10px;
  /* margin-bottom: 15px; */
}

input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #007bff;
}

.otp-button {
  padding: 10px 11px;
  font-size: 14px;
  height: 36px;
  /* margin-top: 10px; */
  background: #007bff;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

.otp-button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.resend-button {
  background: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  /* text-decoration: underline; */
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.Register-button, .forgot-button, .login-button {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.Register-button, .forgot-button {
  background: transparent;
  border: none;
  color: #007bff !important;
}

.login-button {
  width: 100%;
  background: #28a745;
  border: none;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
  border: 0.6px solid gray;
  border-radius: 10px;
  margin: 10px;
}

.input-with-icon input {
  flex: 1;
  padding-right: 40px; 
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
}


.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.google-button:hover {
  background: #f5f5f5;
}
.icon{
  color: rgb(79, 77, 77);
  height: 20px;
}
.input-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.input-with-icon input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
}

.eye-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}