.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: black;
    position: fixed;
    top: 0;
}
.btn-clss{
    background-color:black;
    color: white;
}